body {
  font-family: "Montserrat", sans-serif;
  background-image: url("images/clear2.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  margin: 30px auto;
}
form {
  margin: 15px;
}
.currentdata {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(116, 117, 134, 0.37);
  padding: 15px;
  margin: 10px;
  border: transparent;
  border-radius: 30px;
}
.week {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(116, 117, 134, 0.37);
  padding: 0px;
  border: transparent;
  border-radius: 30px;
  margin: 10px;
  color: #e3f6f5;
}
.searchsection {
  text-align: right;
}
ul {
  list-style: none;
}
.lupa {
  color: #3d2c8d;
  font-size: 20px;
}
.search {
  background: #5c7aea;
  color: #ffffff;
  padding: 4px 10px;
  border: 1px solid #5c7aea;
  border-radius: 14px;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}
.search:hover {
  background: transparent;
  color: #5c7aea;
}
h1 {
  margin: 20px 15px;
}
h2 {
  margin: 10px 15px;
}
.conditions {
  margin: auto;
  color: #41506b;
  font-weight: 600;
  text-align: right;
}
.todayconditions {
  margin: auto;
  color: #41506b;
}
.todayimage {
  width: 100px;
}
.iconmessage {
  text-align: center;
  margin: auto;
}
.todayTemp {
  font-size: 30px;
  font-weight: 500;
  margin: auto;
}
.weeklyweather {
  text-align: center;
  margin: 30px auto;
  font-size: 20px;
  padding: 20px;
}
.units {
  text-decoration: none;
}
.currentPlace {
  background: #5c7aea;
  color: #ffffff;
  padding: 4px 10px;
  border: 1px solid #5c7aea;
  border-radius: 14px;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}
.currentPlace:hover {
  background: transparent;
  color: #5c7aea;
}
.name {
  color: #ffffff;
}
.active {
  color: #000000;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
